body{
	background-color: #496e49;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #cfe8cf;
}
li{
	float:left;
}
 li a{
	display: block;
	color: black;
	font-weight: bold;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 20px;

}
li a:hover{
	background-color:white;
}
img{
	width: 42px;
	height: 42px;
}
#cover{
	width: 100%;
	height: 200px;
}
.samsung{
	font-size: 26px;
	font-weight: bold;
	font-family: arial;
	background-color:#cfe8cf;
	color:black;
	display: flex;
	justify-content: center;
}
.samsungp{
	font-size: 19px;
	font-weight: bold;
	font-family: italic;
	color: #cfe8cf;
	background-color: #607060;

}
.popular{
	font-size: 22px;
	font-weight: bold;
	font-family: italic;
	background-color:#607060;
	color:white;
	margin-right:   1045px;
}
.nkar > img{
	width: 150px;
	height: 150px;
}
.cont{
	display: flex;

}
form{
	display: grid;
	font-size: 25px;
}
iframe{
	margin-left: 40%;
}
input:hover{
	background-color: #cfe8cf;
}
.bust {
	font-size: 30px;
	font-weight: bold;
	font-family: arial;
	color:white;
	display: flex;
	justify-content: flex-start;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
.div > h1{
	font-size: 30px;
	display: flex;
	justify-content: center;
	font-weight: bold;
	font-family: italic;
	color:black;
}
.div > h3{

	font-size: 40px;
	display: flex;
	justify-content: center;
	font-weight: bold;
	font-family: italic;
	color:red;
	background-color: black
	}
	.div{
		text-align:center;
		background-color: #ffffff;
		margin: 100px 450px 100px 450px;
	}
	.select{
	
		font-size: 23px;
		display: flex;
		justify-content: flex-start;
		color:#373b36;
		font-weight: bold;
	}
	h2 > select{
		margin-left: 100px;
		font-size: 16px;

	}